<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/game_details.css') }}" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>{{ game.name }}</h1>
    <p><strong>Price:</strong> {{ game.price }}</p>
    <p><strong>Release Date:</strong> {{ game.release_date }}</p>
    <p><strong>Number of Reviews:</strong> {{ game.review_no }}</p>
    <p><strong>Review Type:</strong> {{ game.review_type }}</p>
    <p><strong>Tags:</strong></p>
    <div class="tags">{{ game.tags }}</div>
    <p><strong>Description:</strong> {{ game.description }}</p>
    <a href="{{ url_for('index') }}" class="back-btn">Back to Search</a>
</div>
<div class="container results">
    <h2>Related Games</h2>
    <ul id="resultsList">
        {% for related_game in related_games %}
            <a href="{{ url_for('game_details', path=related_game.path) }}" target="_blank" class="result-link">
                <li>
                    <strong>{{ related_game.name }}</strong>
                    <br>
                    Price: {{ related_game.price }} <br>
                    Release Date: {{ related_game.release_date }} <br>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
</body>
</html>
